.banner {
    background: transparent url(watercol.jpg) 0 0 no-repeat fixed; /* this makes the watercolour image background to the whole website */
    text-align: left;
    background-size: cover;
    width: 100%;
    margin-top: 0rem;
    margin-bottom: 2rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
    text-align: center;
    font-size: 25px;
    font-style: italic;
    color: rgb(0, 0, 0);
    font-weight: 500;
    text-shadow: 0 3px 2px white;
    border-top: solid;
    border-color:rgb(166, 69, 179);
    border-width: 5px;
}

body{
  text-align: justify;
  background: white url("background.jpg") fixed repeat;
  font-family:arial;
  font-size:15px;
}

.intro {
  margin:0;
  display:block;
  padding-left: 50px;
  padding-right: 50px;
  font-size:auto;
  display:grid;
  justify-content: right;
}

.image{
  margin-bottom:40px;
  margin-top:40px;
  padding-left:20px;
  padding-right:20px;
  display:grid;
  justify-content: center;
}

  

.banner3 {
  /* watercol.jpg inputs the picture we want in our banner */
  text-align: center;
  background-size: cover;
  width: 100%;
  font-size: 20px;
  margin-top: -1rem;
  margin-bottom: -1rem;
  color: black;
} 

.banner4 {
  /* watercol.jpg inputs the picture we want in our banner */
  background: transparent url(watercol.jpg) 0 0 repeat fixed; /* this makes the watercolour image background to the whole website */
  text-align: left;
  background-size: cover;
  width: 100%;
  margin-top: -1rem;
  margin-bottom: -1rem;
  border-top: solid;
  border-color:rgb(166, 69, 179);
  border-width: 5px;
}


.l-box {
  margin:auto;
  margin-bottom: 40px;
  padding-left:20px;
  padding-right: 20px;
}

.copyright{
  text-align: left;
  padding-left: 20px;
  padding-top: 10px;
}

.socialmediaicons{
  margin-bottom: 0px;
  margin-top: 9px;
  padding-left: 9px;
  width: 20%;
  display: grid;
  justify-content: right;
}

.black-button {
  background: pink;
  color: white;
  border-radius: 100px;
}